<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/static/static/styles.css" />
  </head>
  <body>
    <h1>Sign Up</h1>
    <form method="POST" action="/signin">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required />

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />

      <label for="role">Role:</label>
      <select id="role" name="role" required>
        <option value="">Select a role</option>
        <option value="manager">Restaurant Manager</option>
        <option value="volunteer">Volunteer</option>
      </select>

      <button type="submit">Sign Up</button>
    </form>
    <script src="/static/static/script.js"></script>
  </body>
</html>
